<% if (/^\s*(<!doctype html|<html|\{|\[)/i.test(slot)) { -%>
<%- slot -%>
<% } else { -%>
<!doctype html>
<html lang="en" data-theme="yellowdark" x-data="shell()">
    <head>
        <%- include('head.ejs') %> <%- include('theme-init.ejs') %> <%-
        include('alpine-setup.ejs') %> <%- include('shell-init.ejs') %> <%-
        include('custom-styles.ejs') %>
    </head>

    <body
        style="
            --color-primary: <%= (locals.data && locals.data.settings && locals.data.settings.color_primary) ? locals.data.settings.color_primary : (locals.settings ? locals.settings.color_primary : '#d9d9d9') %>;
            --color-accent: <%= (locals.data && locals.data.settings && locals.data.settings.color_accent) ? locals.data.settings.color_accent : (locals.settings ? locals.settings.color_accent : '#50fbc2') %>;
            --color-background: <%= (locals.data && locals.data.settings && locals.data.settings.color_background) ? locals.data.settings.color_background : (locals.settings ? locals.settings.color_background : '#282525') %>;
            background-color: var(--color-background);
            color: var(--color-primary);
        "
        class="min-h-screen"
    >
        <div class="relative flex min-h-screen flex-col">
            <div x-on:click.outside="navOpen = false">
                <%- include('header.ejs') %> <%- include('mobile-menu.ejs') %>
            </div>

            <main
                class="relative flex-grow transition-all duration-200"
                :style="{ 'padding-top': headerVisible ? '3.3rem' : '0' }"
            >
                <%- slot %>
            </main>

            <% if (!locals.data || (!locals.data.isHome && !locals.data.list)) {
            %> <%- include('footer.ejs') %> <% } %>
        </div>
        <%- include('link-fixer.ejs') %>
    </body>
</html>
<% } -%>
